<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>You are adding a user</h2>
    <form action="/user/add" method="post">
        <input type="text" placeholder="enter ID" name="id">
        <input type="email" placeholder="enter email" name="email">
        <input type="text" placeholder="enter username" name="username">
        <input type="password" placeholder="enter password" name="password">
        <button>submit</button>
    </form>

</body>

</html>