<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>You are about to delete this user:<%=user.email%>
    </h2>
    <form action="/user/<%=user.id%>?_method=DELETE" method="POST">
        <label>Enter password</label>
        <input type="password" name="password" placeholder="password">
        <button>EDIT</button>
    </form>
</body>
</html>